<section id="starting" class="starting-content section-padding">
	<div class="container">					
		<div class="section-title text-center">
			<h2>Teste disponibile</h2>
			<p>Scurta descriere Scurta descriere Scurta descriere</p>
		</div>				
		<div class="row text-center">									
			<div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInUp;">
				<div class="starting_design">
					<div class="single-starting">
						<div class="start-head">		
							<h2>Test</h2>
						</div>
						<ul>
							<li><b>Muzicologie</b></li>
							<li><b>10 min</b></li>
						</ul>
						<a class="start_btn" aria-current="page" (click)="redirectToTestPage(1)">Începe test</a>
				
						<!-- <a id="1" class="start_btn" aria-current="page" href="#" [routerLink]="['/cours']">Începe Cursul</a> -->
					</div>
				</div>
			</div><!--- END COL -->		
			<div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInUp;">
				<div class="starting_design">
					<div class="single-starting">
						<div class="start-head">		
							<h2>Test</h2>
						</div>
						<ul>
							<li><b>Ritmică</b></li>
							<li><b>10 min</b></li>
						</ul>
						<a class="start_btn" aria-current="page" (click)="redirectToTestPage(2)">Începe test</a>
					</div>
				</div>
			</div><!--- END COL -->
		</div><!--- END ROW -->
	</div><!--- END CONTAINER -->
</section>
